.container{
  height: 100%;
  width: 100%;
  background-color: black;
}

#gameTitle{
  margin: 1%;1%;1%;1%;
}

#instructions{
  margin: 1%;1%;1%;1%;
}

#randomNumberGenerated{
  margin: 1%;1%;1%;1%;
}

#winsLoses{
  margin: 1%;1%;1%;1%;
}

#crystalsToClick{
  margin: 1%;1%;1%;1%;
}

#scoreIs{
  margin: 1%;1%;1%;1%;
}

#iteratingScoreBox{
  margin: 1%;1%;1%;1%;
}

#blue{
  width: 50px;
  height: 50px;
  background-color: white;
  margin-right: 1%;
}

#green{
  width: 50px;
  height: 50px;
  background-color: white;
  margin-right: 1%;

}

#red{
  width: 50px;
  height: 50px;
  background-color: white;
  margin-right: 1%;
}

#yellow{
  width: 50px;
  height: 50px;
  background-color: white;
  margin-right: 1%;

}
